.git
.vs
.vscode
**/bin
**/obj
tests
TestResults
local.settings*.json
.env*
*.pfx
*.p12
*.publishsettings
__azurite_db*.json
__blobstorage__
__queuestorage__
azurite-data
*.log
**/*.md
**/.env*
**/local.settings*.json
**/*.pfx
**/*.p12
**/*.publishsettings
**/TestResults
**/.git
